@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:400,600');

/*Colors*/
$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;

/*Fonts*/
$montserrat: 'Montserrat', sans-serif;
$crimson: 'Crimson Text', serif;