@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:400,600');

/*Colors*/
$sky: #E3F4F8;
$carbon: #4C4C4C;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;
$whitesmoke: #F5F5F5;

/*Fonts*/
$montserrat: 'Montserrat', sans-serif;
$crimson: 'Crimson Text', serif;