@import './base/reset';
@import './base/variables';

body {
	background-color: $neutral;
	color: $carbon;
}
.container {
	margin: 20px;
}

.search {
	text-align: center;
	.search__heading {
		font-family: $montserrat;
		font-size: 28px;
		margin-bottom: 20px;
	}
}

.form {
	.form__username {
		font-family: $crimson;
		font-size: 20px;
		padding-left: 5px;
	}
}

.btn {
	font-family: $crimson;
	margin: 20px 5px;
	padding: 5px 15px;
}

.gist-container__title {
	background-color: $sky;
	color: $watermelon; 
	font-family: $montserrat;
	font-size: 18px;
	padding: 5px;
}

.gist-container {
	.gist-container__blurb-elipses{
		color:$watermelon;
	}
}

.gist-container__blurb {
	background-color: $whitesmoke;
	font-family: monospace;
	margin: 10px;	
	padding: 5px;
}

.gist-container__blurb-text,
.gist-container__blurb--expanded {
	white-space: pre;
}
